<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TeamRay个人资料
    </title>
    <!-- 网站说明 -->
    <meta name="description" content="TeamRay房源/二手车-专业的网上房源二手车中介平台,租赁销售二手车源、房源相关商品.便捷、诚信的服务，为您提供愉悦的网上购物体验!">
    <!-- 关键字 -->
    <meta name="keywords" content="网上中介,网上平台,二手车/房源,TeamRay房源/">

    <!-- 引入favicon图标 -->
    <!-- <link rel="shortcut icon" href="favicon.ico" /> -->
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <!-- 引入我们初始化样式文件 -->
    <!-- <link rel="stylesheet" href="css/base.css"> -->
    <link rel="stylesheet" href="../static/css/base.css">
    <!-- 引入我们公共的样式文件 -->
    <script src="../static/js/jquery.min.js"></script>

    <!-- <link rel="stylesheet" href="css/common.css"> -->
    <link rel="stylesheet" href="../static/css/common.css">
    <!-- 引入我们index.css文件  -->
    <!-- <link rel="stylesheet" href="css/index.css"> -->
    <link rel="stylesheet" href="../static/css/about.css">
</head>

<body>
    <!-- 快捷导航模块 start -->
    <section class="shortcut">
        <div class="w">
            <div class="fl">
                <ul>
                    <li>TeamRay房源/二手车中介平台欢迎您！&nbsp;</li>
                    <li id="weidenglu">
                        <!-- <a href="#">请登录</a> &nbsp; <a href="register.html" class="style_red">免费注册</a> -->
                        <a href="#">请登录</a> &nbsp; <a href="/register" class="style_red">免费注册</a>
                    </li>
                </ul>
            </div>
            <div class="fr">
                <ul>
                    <li>
                        <a href="/login" id="login">登录</a>
                    </li>

                    <li></li>
                    <li>
                        <a href="">TeamRay会员</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="">我的订单</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="change_info" id="my_info">个人资料</a>

                    </li>
                    <li></li>
                    <li>
                        <a href="/index" id="my_add">上架商品</a>
                    </li>
                    <li></li>
                    <li class="arrow-icon">网站导航</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- 快捷导航模块 end -->
    <!-- header头部模块制作 start -->
    <header class="header w">
        <!-- logo模块 -->
        <div class="logo">
            <h1>
                <a href="/index" title="TeamRay二手车/房源">TeamRay中介平台</a>
            </h1>
        </div>
        <!-- search搜索模块 -->
        <div class=" search ">
            <input type="search " name=" " id=" " placeholder="华晨宝马 ">
            <button>搜索</button>
        </div>
        <!-- hotwords模块制作 -->
        <div class="hotwords ">
            <a href="# " class="style_red ">TeamRay首发</a>
            <a href="# ">亿元优惠</a>
            <a href="# ">美满10000减500</a>
            <a href="# ">二室一厅</a>
            <a href="# ">嘉禾小区</a>
            <a href="# ">二手宝马</a>
            <a href="# "></a>
        </div>
        <!-- 购物车模块 -->
        <div class="shopcar ">
            我的预购
            <i class="count ">8</i>
        </div>
    </header>
    <!-- header头部模块制作 end -->
    <!-- nav模块制作 start -->
    <nav class="nav ">
        <div class="w ">

            <div class="navitems ">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- nav模块制作 end -->
    <!-- 首页专有的模块 main  start -->
    <div class="w ">
        <div class="main ">
            <div class="info">
                <ul>
                    <li>个人资料
                        <hr>
                    </li>
                    <li><img src="../static/images/T.png" alt="" id="avatar"></li>
                    <li><span id="username">用户名</span></li>
                    <li>手机 <span id="phone">13691113666</span></li>
                    <li>邮箱 <span id="email">2906082748@qq.com</span></li>
                    <li onclick="change_info()">点击修改资料</li>
                </ul>
            </div>
            <div class="good_intr">
                <h3>商品信息</h3>
            </div>
            <div class="good_info">
                <div class="goods_info" onclick="href()"></div>
            </div>
        </div>
    </div>
    <div style='height: 150px;width: 100px;'></div>

    <!-- 底部模块的制作 start -->
    <div style="height: 100px;width: 10px; "></div>
    <footer class="footer ">
        <div class="w ">
            <div class="mod_service ">
                <ul>
                    <li>
                        <h5></h5>
                        <div class="service_txt ">
                            <h4>正品保障</h4>
                            <p>正品保障,提供发票</p>
                        </div>
                    </li>
                    <li>
                        <h5></h5>
                        <div class="service_txt ">
                            <h4>急速配送</h4>
                            <p>多仓直发,急速配送</p>
                        </div>
                    </li>
                    <li>
                        <h5></h5>
                        <div class="service_txt ">
                            <h4>质量保证</h4>
                            <p>质量保证,七天内无理由退货</p>
                        </div>
                    </li>
                    <li>
                        <h5></h5>
                        <div class="service_txt ">
                            <h4>领军之星</h4>
                            <p>领军之星,值得依赖</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mod_help ">
                <dl>
                    <dt>服务指南</dt>
                    <dd><a href="# ">选购流程</a></dd>
                    <dd><a href="# ">会员介绍</a></dd>
                    <dd><a href="# ">合同（电子）</a></dd>
                    <dd><a href="# ">常见问题</a></dd>
                    <dd><a href="# ">海外服务</a></dd>
                    <dd><a href="# ">联系客服</a></dd>
                </dl>
                <dl>
                    <dt>配送方式</dt>
                    <dd><a href="# ">上门自提</a></dd>
                    <dd><a href="# ">上门租车服务</a></dd>
                    <dd><a href="# ">配送服务查询</a></dd>
                    <dd><a href="# ">配送服务收费标准</a></dd>
                    <dd><a href="# ">海外配送</a></dd>
                </dl>
                <dl>
                    <dt>支付方式</dt>
                    <dd><a href="# ">货到付款</a></dd>
                    <dd><a href="# ">在线支付</a></dd>
                    <dd><a href="# ">分期付款</a></dd>
                    <dd><a href="# ">公司转账</a></dd>
                </dl>
                <dl>
                    <dt>售后服务</dt>
                    <dd><a href="# ">售后政策</a></dd>
                    <dd><a href="# ">价格保护</a></dd>
                    <dd><a href="# ">退款说明</a></dd>
                    <dd><a href="# ">返修/退换服务</a></dd>
                    <dd><a href="# ">取消订单</a></dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd><a href="# ">TeamRay在线夺宝</a></dd>
                    <dd><a href="# ">TeamRay会员</a></dd>
                    <dd><a href="# ">延保服务</a></dd>
                    <dd><a href="# ">TeamRay通信</a></dd>
                    <dd><a href="# ">TeamRay-E卡</a></dd>
                    <dd><a href="# ">TeamRay智能</a></dd>
                </dl>
                <dl>
                    <dt>帮助中心</dt>
                    <dd>
                        <img src="../static/images/ma.png " alt=" "> TeamRay客户端
                    </dd>
                </dl>
            </div>
            <div class="mod_copyright ">
                <div class="links ">
                    <a href="# ">关于我们</a> | <a href="# ">联系我们</a> | 联系客服 | 商家入驻 | 营销中心 | 手机TeamRay | 友情链接 | 销售联盟 | TeamRay社区 | TeamRay公益 | English Site | Contact U
                </div>
                <div class="copyright ">
                    地址：北京市东城区珍贝大厦二层达内python学院 邮编：100096 电话：400-618-4000 传真：010-82935100 邮箱: TeamRay@163.con <br> 京ICP备08001421号京公网安备110108007702
                </div>
            </div>
        </div>
    </footer>
    <!-- 底部模块的制作 end -->

</body>
<link rel="stylesheet" href="../static/css/about.css">
<script charset="utf-8 ">
    username = window.localStorage.getItem('TeamRay_user');
    if (username) {
        document.getElementById('login').innerText = username
        document.getElementById('my_info').href = '/' + username + '/my_info'
        document.getElementById('my_add').href = '/' + username + '/good/release'
        document.getElementById('weidenglu').innerText = username
    }

    var url = document.location.toString();
    var arrUrl = url.split("//");
    //当前访问的博客博主
    var blog_username = arrUrl[1].split('/')[1];
    token = window.localStorage.getItem('Teamay_token');
    //登陆的用户名
    document.getElementById('username').innerText = blog_username

    $.ajax({
        // 请求方式
        type: "get",
        // url
        url: "http://127.0.0.1:8000/v1/users/" + username,
        beforeSend: function(request) {
            request.setRequestHeader("Authorization", token);
        },
        success: function(result) {
            if (200 == result.code) {
                console.log(result);
                //avatar
                document.getElementById('username').value = username
                document.getElementById('phone').innerText = result.data.phone
                document.getElementById('email').innerText = result.data.email


                if (result.data.avatar) {
                    document.getElementById('avatar').src = 'http://127.0.0.1:8000/media/' + result.data.avatar
                }
            } else {
                alert(result.error)
            }
        }
    });


    function change_info() {

        window.location.href = '/' + username + '/change_info'

    }

    function href() {

        window.location.href = '/' + username + '/good/release'

    }
</script>

</html>